/* app global css */
@import url("./variables.css");

@font-face {
  font-family: bruno-ace;
  src: url(./fonts/BrunoAceSC-Regular.ttf);
}

.bruno-font {
  font-family: "bruno-ace";
}

.q-header {
  height: var(--header-height);
}

.q-footer {
  height: var(--footer-height);
}

.q-footer--light {
  background: radial-gradient(
    circle,
    var(--footer-gradient-light-1) 0%,
    var(--footer-gradient-light-2) 49%,
    var(--footer-gradient-light-3) 100%
  );
  color: black;
}

.q-header--dark {
  background: radial-gradient(
    circle,
    var(--header-gradient-dark-1) 0%,
    var(--header-gradient-dark-2) 49%,
    var(--header-gradient-dark-3) 100%
  );
  color: bisque;
}
.q-footer--dark {
  background: radial-gradient(
    circle,
    var(--footer-gradient-dark-1) 0%,
    var(--footer-gradient-dark-2) 49%,
    var(--footer-gradient-dark-3) 100%
  );

  color: bisque;
}
.q-header--light {
  background: radial-gradient(
    circle,
    var(--header-gradient-light-1) 0%,
    var(--header-gradient-light-2) 49%,
    var(--header-gradient-light-3) 100%
  );
  color: black;
}
