/* app global css */
.q-header {
  height: 95px;
}

.q-footer {
  height: 120px;
}

.q-footer--light {
  background: #ffe082;
  background: radial-gradient(
    circle,
    rgba(255, 202, 40, 1) 0%,
    rgba(255, 224, 130, 1) 35%,
    rgba(255, 213, 79, 1) 100%
  );
  color: black;
}

.q-header--dark {
  background: rgb(122, 121, 119);
}
.q-header--light {
  background: radial-gradient(
    circle,
    rgba(157, 192, 223, 1) 0%,
    rgba(140, 182, 218, 1) 49%,
    rgba(55, 150, 230, 1) 100%
  );

  color: black;
}
